.skeleton {
    background-color: rgb(124, 124, 124);
    margin: .75em 0;
    border-radius: .25em;
}

.skeleton.title {
    height: 1.25em;
    margin-bottom: 1em;

}

.skeleton.text {
    height: .75em;

}

.skeleton.width-100 {
    width: 100%;
}

.skeleton.width-50 {
    width: 50%;
}

@keyframes pulse {
    50% {
        opacity: .2;
    }
}

.animate-pulse {
    animation: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;
}